* {
  box-sizing: border-box;
}

h3 {
  text-align: center;
}

.movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles to replace radio buttons with images */
img {
  width: 200px;
  height: 300px;
  margin: 1.3rem 2.5rem;
}

h5 {
  margin: 0;
  text-align: center;
}

img:hover {
  cursor: pointer;
}

.radio_item {
  display: none !important;
}

.label_item {
  opacity: 0.5;
}

.radio_item:checked + label {
  opacity: 1;
}
